.sources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

.sources:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 0.8) 70%);
  z-index: 1;
}

.sources a {
  padding: 20px;
  height: 80px;
  display: block;
  filter: grayscale();
  opacity: 0.4;
  transition: 0.1s all cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.sources a:hover,
.sources a:focus {
  opacity: 1;
  filter: none;
  z-index: 2;
}

.sources img {
  height: 100%;
  width: auto;
}
